/* http://fontello.com/ */
@font-face {
	font-family: 'icons';
	src: url('font/icons.eot?76789020');
	src: url('font/icons.eot?76789020#iefix') format('embedded-opentype'),
		url('font/icons.woff?76789020') format('woff'),
		url('font/icons.ttf?76789020') format('truetype'),
		url('font/icons.svg?76789020#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="i-"]:before, [class*=" i-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.i-thumbs-up:before { content: '\e800'; }
.i-thumbs-down:before { content: '\e801'; }
.i-doc:before { content: '\e802'; } 
.i-doc-text:before { content: '\e803'; } 
.i-file-image:before { content: '\e804'; } 
.i-bang:before { content: '\e805'; }
.i-quote-left:before { content: '\e806'; }
.i-quote-right:before { content: '\e807'; } 
.i-lock:before { content: '\e808'; } 
.i-mail:before { content: '\e809'; } 
.i-folder:before { content: '\e80a'; } 
.i-folder-open:before { content: '\e80b'; }
.i-menu:before { content: '\e80c'; } 
.i-cog:before { content: '\e80d'; } 
.i-down-circled:before { content: '\e80e'; } 
.i-up-circled:before { content: '\e80f'; }
.i-left-circled:before { content: '\e810'; }
.i-right-circled:before { content: '\e811'; }
.i-pencil:before { content: '\e812'; }
.i-key:before { content: '\e813'; }
.i-clock:before { content: '\e814'; }
.i-right-hand:before { content: '\e816'; }
.i-left-hand:before { content: '\e817'; }
.i-up-hand:before { content: '\e818'; }
.i-down-hand:before { content: '\e819'; }
.i-trophy:before { content: '\e81a'; }
.i-globe:before { content: '\e81b'; }
.i-home:before { content: '\e81c'; }
.i-unlock:before { content: '\e81d'; }
.i-paw:before { content: '\e81e'; }
.i-bookmark:before { content: '\e81f'; }
.i-ellipsis:before { content: '\e820'; }
.i-floppy:before { content: '\e821'; }
.i-dollar:before { content: '\e822'; }
.i-smile:before { content: '\e823'; }
.i-frown:before { content: '\e824'; }
.i-meh:before { content: '\e825'; }
.i-tree:before { content: '\e826'; }
.i-street-view:before { content: '\e827'; }
.i-female:before { content: '\e828'; }
.i-male:before { content: '\e829'; }
.i-bitbucket:before { content: '\e82a'; }
.i-reddit:before { content: '\e82b'; }
.i-trello:before { content: '\e82c'; }
.i-steam:before { content: '\e82d'; }
.i-slack:before { content: '\e82e'; }
.i-heart:before { content: '\e82f'; }
.i-star:before { content: '\e830'; }
.i-semicolon:before { content: '\e831'; }
.i-at:before { content: '\e832'; }
.i-warn:before { content: '\e833'; }
.i-info:before { content: '\e834'; }
.i-question:before { content: '\e835'; }
.i-note:before { content: '\e83c'; }
.i-comment:before { content: '\e83d'; }
.i-na:before { content: '\e83e'; }
.i-celcius:before { content: '\e83f'; }
.i-fahrenheit:before { content: '\e840'; }
.i-sun:before { content: '\e84c'; }
.i-moon:before { content: '\e84d'; }
.i-eclipse:before { content: '\e84e'; }
.i-mist:before { content: '\e84f'; }
.i-wind:before { content: '\e850'; }
.i-snowflake:before { content: '\e851'; }
.i-cloud-sun:before { content: '\e852'; }
.i-cloud-moon:before { content: '\e853'; }
.i-progress-1:before { content: '\e854'; }
.i-progress-2:before { content: '\e855'; }
.i-progress-3:before { content: '\e856'; }
.i-location:before { content: '\e857'; }
.i-cloud:before { content: '\e858'; }
.i-cloud-flash:before { content: '\e859'; }
.i-drizzle:before { content: '\e85b'; }
.i-rain:before { content: '\e85c'; }
.i-windy:before { content: '\e85d'; }
.i-windy-rain:before { content: '\e85e'; }
.i-snow:before { content: '\e85f'; }
.i-snow-heavy:before { content: '\e861'; }
.i-hail:before { content: '\e862'; }
.i-clouds:before { content: '\e863'; }
.i-clouds-flash:before { content: '\e864'; }
.i-trash:before { content: '\e865'; }
.i-plus:before { content: '\e866'; }
.i-minus:before { content: '\e867'; }
.i-ok:before { content: '\e868'; }
.i-cancel:before { content: '\e869'; }
.i-fire:before { content: '\e86a'; }
.i-gift:before { content: '\e86b'; }
.i-star-filled:before { content: '\e86c'; }
.i-heart-filled:before { content: '\e86d'; }
.i-card:before { content: '\e86e'; }
.i-power:before { content: '\e86f'; }
.i-calendar:before { content: '\e870'; }
.i-basket:before { content: '\e871'; }
.i-gamepad:before { content: '\e872'; }
.i-spin:before { content: '\e873'; }